<div class="app-frame mat-app-background">
  <mat-toolbar color="primary">
    <span style="cursor: pointer;">Est Curier Workspace</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button (click)="onChangeTheme()">
      <mat-icon *ngIf="isDarkTheme">brightness_5</mat-icon>
      <mat-icon *ngIf="!isDarkTheme">brightness_4</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" color="accent" [style.visibility]="loading ? 'visible' : 'hidden'"></mat-progress-bar>
  <main>
    <mat-tab-group (selectedIndexChange)="changeMenu($event)" [selectedIndex]="selectedIndex">
      <mat-tab label="Articole">
        <app-articles></app-articles>
      </mat-tab>
      <mat-tab label="Pagini">
        <app-pages></app-pages>
      </mat-tab>
      <mat-tab label="Fișiere">
        <app-files></app-files>
      </mat-tab>
    </mat-tab-group>
    <div class="sidebar">
      <mat-card class="list occupation">
        <h2 [style.color]="occuped ? '#f44336' : ''">Disponibilitate</h2>
        <mat-card-content>
          <mat-slide-toggle [(ngModel)]="occuped" (change)="onChangeStatus()">Ocupat</mat-slide-toggle>
        </mat-card-content>
      </mat-card>
      <mat-card class="messages-header">Mesaje</mat-card>
      <div style="max-height: 45vh; overflow-y: scroll;">
        <mat-card class="list" *ngFor="let m of messages">
          <button mat-icon-button style="float: right;" (click)="onDeleteMessages(m.id)"><mat-icon>delete</mat-icon></button>
          <h5>{{ m.date }}</h5>
          <p style="font-size: 20px; line-height: normal;">{{ m.text }}</p>
        </mat-card>
      </div>
      <form (submit)="onAddMesage(mForm)" #mForm="ngForm">
        <mat-form-field>
          <mat-label>Mesaj</mat-label>
          <button mat-icon-button matSuffix type="submit"><mat-icon style="cursor: pointer; font-size: 20px;" color="accent">send</mat-icon></button>
          <input matInput placeholder="Placeholder" ngModel name="text">
        </mat-form-field>
      </form>
    </div>
  </main>
</div>