.main {
    margin: 1%
}

.file {
    margin: 2% 0 0 2%
}

.files-container {
    margin-top: 1vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.download {
    margin-left: .5%;
    width: 26%;
}

.upload-button {
    width: 69%;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    margin: 1% 0% 0% 0.5%; 
    background-color: #2196f3;
}

.image {
    object-fit: cover; 
    overflow: hidden;
    height: 150px;
}