.list {
    vertical-align: top;
}

.main {
    display: flex;
    height: inherit;
    margin: 10px
}

.empty {
    box-shadow: 0 0;
}

.list-container {
    flex-grow: 1;
    margin: 2% 0 0 2%;
}

button {
    margin-top: 2%;
}

.list-item {
    margin-bottom: 2%;
    cursor: pointer;
}

h5 {
    margin-bottom: 0;
}

.cdk-drag-placeholder {
    h5 {
      visibility: hidden;
    }
    p {
      visibility: hidden;
    }
}

.cdk-drag-preview {
    height: max-content !important;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.next-generation {
    cursor: pointer;
    float: right;
}