textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%; 
    height: 50vh;
    font-size: 18px;
    overflow: auto;
    outline: none;
    resize: none;
    line-height: normal;
    user-select: none;
}